#L2dCanvas {
    z-index: 999;
    width: 240px;
    height: 325px;
    left: calc(100vw - 240px);
    bottom: -280px;
    border-top-left-radius: 10px;
    border-left: 2px solid #66afef00;
    border-top: 2px solid #66afef00;
    -webkit-transition: bottom 0.5s, background 0.5s, border 0.5s;
    -moz-transition: bottom 0.5s, background 0.5s, border 0.5s;
    -o-transition: bottom 0.5s, background 0.5s, border 0.5s;
    transition: bottom 0.5s, background 0.5s, border 0.5s;
    cursor: pointer;
    touch-action: none;
}
#L2dCanvas:hover {
    bottom: 0 !important;
    background: #9dbeff7c;
    border-left: 2px solid #9abbf7;
    border-top: 2px solid #9abbf7;
}
#L2dCanvas::after {
    content: "LIVE-2D";
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: linear-gradient(120deg, #9abbf7 0%, #ffbbf4 100%);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    border-top-left-radius: 10px;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
#L2dCanvas:hover::after {
    opacity: 0;
    z-index: -1;
}
@media screen and (max-width: 800px), screen and (max-height: 600px) {
    #L2dCanvas {
        display: none;
    }
}